.questions-form {

    text-align: center;
    font-size: 1.5em;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 5px;
    min-width: 600px;
    padding: 20px;
    padding-bottom: 5px;


}

.questions-form-label {

    font-family: 'Roboto', sans-serif;

    animation: wave 2s ease-in-out infinite;
}

.form-select {
    color: saddlebrown;
}

.question-form-h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 400px;
    margin-bottom: 20px;
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}